/**----------------------------428---------------------------**/

@media screen and (min-width: 428px) {
    .container {
        max-width: 396px;
    }
}

/**----------------------------768---------------------------**/

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }

    .header {
        padding: 16px;
    }

    .header-content {
        align-items: center;
    }

    .mob-menu-btn {
        display: none;
    }
    .mob-menu {
        display: none;
    }

    .page-nav {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .header-nav {
        display: flex;
        text-align: center;
        margin-right: auto;
    }

    .nav-link {
        display: block;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: var(--font-size);
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--heading-color);
        transition: color var(--typical-transition);
    }

    .page-nav .nav-link:hover {
        color: var(--pressed-state-color);
    }

    .nav-link:active,
    .nav-link:focus {
        color: var(--pressed-state-color);
    }

    .address-nav {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-block {
        font-style: normal;
    }

    .address {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: var(--address-color);
        transition: color var(--typical-transition);
    }

    .address:hover {
        color: var(--pressed-state-color);
    }

    .address:active,
    .address:focus {
        color: var(--pressed-state-color);
    }

    .hlogo {
        margin-right: 120px;
        display: flex;
        align-items: center;
    }

    .hero-block {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-img-tab.jpg);
        height: 436px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-block {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero-img-tab-2x.jpg);
        }
    }

    .hero {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }

    .about-us {
        gap: 72px 24px;
    }

    .about-us-item {
        width: calc((100% - 24px) / 2);
        max-width: unset;
        align-items: flex-start;
        gap: 8px;
    }

    .card {
        width: calc((100% - 24px) / 2);
    }

    .employees {
        gap: 64px 24px;
        max-width: 584px;
        margin: 0 auto;
    }

    .customers {
        padding: 96px 92px;
    }

    .customers-icon-item {
        width: calc((100% - 32px) / 3);
    }

    .customers-icon-link {
        padding: 32px 16px;
    }

    .footer {
        padding-left: 108px;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .footer-first-part {
        margin-right: 24px;
    }

    .flogo {
        display: inline-block;
    }

    .footer-form {
        display: flex;
        gap: 24px;
        flex-direction: row;
        align-items: center;
    }

    .social-media-title {
        justify-content: start;
    }

    .subscribe-text {
        justify-content: start;
    }
}

/**--------------------------1158-----------------------------**/

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1128px;
    }

    .hlogo {
        margin-right: 76px;
    }

    .header {
        padding: 25.5px 16px;
    }

    .address {
        font-size: var(--font-size);
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .address-nav {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .current {
        position: relative;
        color: var(--pressed-state-color);
    }

    .current::after {
        position: absolute;
        left: 0;
        bottom: -27px;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--pressed-state-color);
    }

    .hero-block {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-img.jpg);
        padding: 188px 0;
        height: 600px;
        max-width: 1440px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-block {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero-img-2x.jpg);
        }
    }

    .hero {
        font-size: 56px;
        margin-bottom: 48px;
    }

    .benefits {
        padding: 120px 0;
    }

    .about-us-item {
        width: calc((100% - 72px) / 4);
    }

    .about-us-box {
        display: flex;
        width: 100%;
        height: 112px;
        background-color: var(--light-backgrounds);
        border: none;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .about-us .section-heading {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .team-block {
        padding: 120px 0;
    }

    .card {
        width: calc((100% - 72px) / 4);
    }

    .employees {
        gap: 24px;
        max-width: unset;
    }

    .customers {
        padding: 120px 0;
    }

    .customers-icon-item {
        width: calc((100% - 80px) / 6);
    }

    .design-samples {
        padding-bottom: 120px;
        display: flex
    }

    .images-studio {
        display: flex;
        gap: 24px;
    }

    .design-item {
        width: calc((100% - 48px) / 3);
        border: 1px solid var(--accent-color);
    }

    .footer {
        padding: 101.5px 0 100px;
    }

    .footer-first-part {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .text-footer {
        max-width: 264px;
    }

    .social-media-footer {
        margin-right: 80px;
    }
}